@import "../scss/pages/header";
@import "../scss/pages/showcase";
@import "../scss/pages/featured";
@import "../scss/pages/aboutUs";
@import "../scss/pages/popularFoods";
@import "../scss/pages/banner";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
