@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&family=Satisfy&display=swap");
// font-family: 'Nunito', sans-serif;
// font-family: 'Satisfy', cursive;

$nunito: "Nunito", sans-serif;
$satisfy: "Satisfy", cursive;
$poppins: "Poppins", sans-serif;
